h1 {
  color: white;
  background-color: DarkBlue;
  padding: 20px;
}

h2 {
  color: gray;
}

hr {
  color: gray;
  background-color: gray;
  height: 5px;
  margin: 0px;
}

body {
  font-family: Arial;
  width: 960px;
  margin-left:auto;
  margin-right:auto;
  border-top: 20px;
}

p {
  margin: 0px;
  padding: 0px;
}

ul {
  border-color: blue;
  border-style: solid;
  border-width: 1px;
  padding:20px;
}

#horizontalList ul li {
  display: inline;
}

